<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>874906758113-c9sl00t88kj7jkvufe7u0f01d9dua73h.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.874906758113-c9sl00t88kj7jkvufe7u0f01d9dua73h</string>
        <key>API_KEY</key>
        <string>AIzaSyCnTzNW4I74rUFf9aSH3AXYLEtfxY0k86A</string>
        <key>GCM_SENDER_ID</key>
        <string>874906758113</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.Codewell.ChatApp.enhanced</string>
        <key>PROJECT_ID</key>
        <string>chatapp-f774b</string>
        <key>STORAGE_BUCKET</key>
        <string>chatapp-f774b.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:874906758113:ios:411d41ce7d508abe</string>
        <key>DATABASE_URL</key>
        <string>https://chatapp-f774b.firebaseio.com</string>
    </dict>
</plist>
